*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite AR", cursive;
}

body {
    background-color: rgb(239, 236, 243);
    color: #000000;
    padding-top: 100px;
}

header {
    display:flex;
    align-items: center;
    margin-bottom: 5px;
}

header h1 {
    font-size: 40px;
    font-weight:lighter;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form button {
    border: none;
    cursor: pointer;
}

form input {
    font-size: 15px;
    margin-bottom: 15px;
}

form {
    max-width: 640px;
    width: 100%;
}

.checked {
    text-decoration: line-through;
}

ul {
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
}